* {
    margin: 0;
    padding: 0;
}

/* Shared style */
.btn {
    background-color: #006A50;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.btn:hover {
    background-color: rgba(255, 0, 0, 0.622);
}

body {
    width: 85%;
    margin: 0 auto;
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgba(245, 222, 179, 0.159);
}

/* Nav section design */
nav {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-btn {
    font-size: 18px;
    font-weight: 600;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px;
}

.nav-btn:hover {
    background-color: rgb(47, 133, 13);
    color: white;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 32px;
    font-weight: 700;
}

nav a:hover {
    color: green;
}



/* Hero section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    background-color: rgba(0, 128, 0, 0.172);
    padding: 40px;
    border-radius: 20px;
}

.hero h4 {
    font-size: 24px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.541);
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}



/* pillars section */
.pillars {
    margin-top: 70px;
}

.pillars h3 {
    margin-bottom: 30px;
}

.pillars-container {
    display: flex;
    gap: 10px;
}

.pillars-container div {
    padding: 15px 10px;
    background-color: white;
    border-radius: 12px;
    border: 1px solid black;
}

.pillars-container img {
    margin-bottom: 15px;
}

.pillars-container h4 {
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.859);
    font-size: 22px;
    font-weight: 600;
}

.pillars-container p {
    color: rgba(0, 0, 0, 0.612);
    font-weight: 500;
}



/* vision section */
.vision {
    margin-top: 70px;
}

.vision-top h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

.vision-top p {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.765);
}

.vision-card-container {
    display: flex;
    gap: 20px;
}

.vision-card-container>div {
    padding: 20px;
    border-radius: 15px;
}

.vision-card-container img {
    margin-bottom: 20px;
}

.vision-card-container h4 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.vision-card-container p {
    margin-bottom: 30px;
}

.card-1 {
    background-color: rgba(255, 255, 0, 0.253);
}

.card-1 button {
    background-color: rgba(255, 0, 0, 0.507);
}

.card-2 {
    background-color: rgba(0, 128, 0, 0.254);
}

.card-2 button {
    background-color: rgba(102, 51, 153, 0.793);
}

.card-3 {
    background-color: rgba(255, 0, 0, 0.327);
}


/* donald-Trump section */
.donald-Trump {
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    margin-top: 40px;
    border: 1px solid black;
}

.donald-Trump div {
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
}

.donald-Trump p {
    margin-bottom: 10px;
}

.donald-Trump h4 {
    margin-bottom: 5px;
}

.donald-Trump h5 {
    color: rgba(0, 0, 0, 0.477);
}




/* Opinion section */
.opinion {
    margin-top: 70px;
}

.opinion>h1 {
    margin-bottom: 20px;
}

.padding {
    padding: 20px;
    background-color: white;
    border-radius: 15px;
}

.opt-con>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid black;
}

.opt-con .opt-head {
    padding: 20px 10px;
    background-color: rgba(0, 128, 0, 0.329);
}

.options div {
    border-left: 1px solid black;
    padding: 20px 10px;
    padding-left: 150px;
}

select {
    padding: 5px;
}

.options h4 {
    padding: 5px;
}



/* News section */
.news-section {
    margin-top: 30px;
}

.news-section>h1 {
    margin-bottom: 10px;
}

.news-section>p {
    color: rgba(0, 0, 0, 0.605);
}

.news-container {
    margin-top: 30px;
}

.news {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    margin-bottom: 20px;
    position: relative;
}

.news>img {
    border-radius: 15px;
    width: 50%;
}

.news button {
    position: absolute;
    bottom: 30px;
}

.news h1 {
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.88);
}

.news h6 {
    margin-bottom: 8px;
    color: rgba(0, 0, 0, 0.52);
}

.news p {
    color: rgba(0, 0, 0, 0.537);
}


/* donate section */
.donate {
    text-align: center;
}

.fund-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.fund-container>div {
    padding: 30px 50px;
    background-color: white;
    border-radius: 15px;

}

.fund-container .recommend {
    background-color: rgba(0, 128, 0, 0.494);
}

.fund-container>div:hover {
    background-color: rgba(0, 128, 0, 0.494);
}

.donate-money {
    padding: 20px;
}

.donate-money>input {
    width: 100%;
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}

/* Subscribe section */
.sub {
    margin-top: 60px;
    text-align: center;
    background-color: rgba(0, 128, 0, 0.397);
    border-radius: 15px;
    padding: 60px;
}
.sub h1{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.774);
}
.sub p{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.894);
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    flex: 1;
    min-width: 250px;
}

form input[type="email"] {
    flex: .5;
    border-start-start-radius: 5px ;
    border-end-start-radius: 5px ;
}
form input[type="submit"] {
    border-start-end-radius: 5px ;
    border-end-end-radius: 5px ;
    background-color: rgba(0, 0, 255, 0.717);
    color: white;
    font-weight: bold;
}

form input {
    border: none;
    padding: 10px;
}

.sub-btn:hover {
    background-color: red;
    color: white;
}









footer {
    margin-top: 100px;
    margin-bottom: ;
}